<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon *ngIf="isFavorite()" name="star" class="header-star"></ion-icon>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" (click)="goToHome()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Summon Beast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Summon Beast</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="spell-info">
      <p>Source: Player's Handbook (2024)</p>
      <p><i>2nd level Conjuration</i></p>
    </div>

    <ion-item lines="none">
      <ion-select [(ngModel)]="selectedLevel" (ionChange)="onLevelChange(selectedLevel)" interface="popover">
        <ion-select-option *ngFor="let level of levels" [value]="level">Level {{ level }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-select [(ngModel)]="selectedType" (ionChange)="onTypeChange(selectedType)" interface="popover">
        <ion-select-option *ngFor="let type of types" [value]="type">{{ type }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="hp-tracker" (click)="openHPModal()">
      <div class="hp-bar-container">
        <div
          class="hp-bar"
          [class.hp-warning]="getHPPercentage() <= 50 && getHPPercentage() > 25"
          [class.hp-danger]="getHPPercentage() <= 25"
          [style.width.%]="getHPPercentage()"></div>
        <span class="hp-text">{{ currentHP }} / {{ maxHP }}</span>
      </div>
    </div>

    <div class="stats-table" *ngIf="stats">
      <table class="table">
        <thead>
          <tr class="table-primary table-active">
            <th colspan="6">Bestial Spirit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6"><em>Small beast</em></td>
          </tr>
          <tr>
            <td colspan="6"><strong>Armor Class:</strong> {{ stats.ac }} (natural armor)</td>
          </tr>
          <tr>
            <td colspan="6"><strong>Hit Points:</strong> {{ stats.hp }}</td>
          </tr>
          <tr>
            <td colspan="6"><strong>Speed:</strong> 30 ft., <span *ngIf="isTypeActive('Land')">climb 30 ft.</span><span *ngIf="isTypeActive('Air')"> fly 60 ft.</span><span *ngIf="isTypeActive('Water')"> swim 30 ft.</span></td>
          </tr>
          <tr class="stat-row table-primary table-active">
            <th>STR</th>
            <th>DEX</th>
            <th>CON</th>
          </tr>
          <tr class="stat-row">
            <td>18 (+4)</td>
            <td>11 (+0)</td>
            <td>16 (+3)</td>
          </tr>
          <tr class="stat-row table-primary table-active">
            <th>INT</th>
            <th>WIS</th>
            <th>CHA</th>
          </tr>
          <tr class="stat-row">
            <td>4 (-3)</td>
            <td>14 (+2)</td>
            <td>5 (-3)</td>
          </tr>
          <tr>
            <td colspan="6"><strong>Senses:</strong> darkvision 60 ft., passive Perception 12</td>
          </tr>
          <tr>
            <td colspan="6"><strong>Languages:</strong> understands the languages you speak</td>
          </tr>
          <tr>
            <td colspan="6"><strong>Challenge:</strong> -</td>
          </tr>
          <tr>
            <td colspan="6"><strong>Proficiency Bonus:</strong> equals your bonus</td>
          </tr>
          <tr *ngIf="isTypeActive('Air')">
            <td colspan="6"><strong><em>Flyby.</em></strong> The beast does not provoke opportunity attacks when it flies out of an enemy's reach.</td>
          </tr>
          <tr *ngIf="isTypeActive('Land') || isTypeActive('Water')">
            <td colspan="6"><strong><em>Pack Tactics.</em></strong> The spirit has advantage on an attack roll against a creature if at least one of the spirit's allies is within 5 feet of the creature and the ally does not have the incapacitated condition.</td>
          </tr>
          <tr *ngIf="isTypeActive('Water')">
            <td colspan="6"><strong><em>Water Breathing.</em></strong> The beast can breathe only underwater.</td>
          </tr>
          <tr class="table-primary table-active">
            <th colspan="6">Actions</th>
          </tr>
          <tr>
            <td colspan="6"><strong><em>Multiattack. </em></strong>The beast makes {{ stats.multiattackCount }} attacks.</td>
          </tr>
          <tr>
            <td colspan="6"><strong><em>Rend. </em></strong><em>Melee Weapon Attack:</em> your spell attack modifier to hit, reach 5 ft., one target. <em>Hit:</em> {{ stats.rendDamage }} piercing damage.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-hp-modal
      [isOpen]="isHPModalOpen"
      [currentHP]="currentHP"
      [maxHP]="maxHP"
      (close)="closeHPModal()"
      (heal)="onHeal($event)"
      (damage)="onDamage($event)">
    </app-hp-modal>
  </div>
</ion-content>
