<ion-menu side="start" menuId="main-menu" contentId="main" #menu>
  <ion-content [fullscreen]="true">
    <div class="menu-header">
      <h1 class="app-title"><b>{{ appName }}</b></h1>
      <p class="app-version"><i>v{{ appVersion }}</i></p>
    </div>
    <ion-list lines="none">
      <div class="spell-list-wrapper">
        <ion-item *ngFor="let spell of spells" [routerLink]="spell.url" button (click)="closeMenu()" lines="none">
          <ion-label>
            <h2>{{ spell.name }}</h2>
            <p>{{ spell.level }}{{ spell.level === 1 ? 'st' : spell.level === 2 ? 'nd' : spell.level === 3 ? 'rd' : 'th' }} level spell</p>
          </ion-label>
          <ion-icon
            *ngIf="isFavorite(spell.id)"
            slot="end"
            name="star"
            class="favorite-icon">
          </ion-icon>
        </ion-item>
      </div>
    </ion-list>
    <ion-list lines="none">
      <div class="appearance-wrapper">
        <ion-item button (click)="openThemeSelector()">
          <ion-label>Appearance</ion-label>
        </ion-item>
      </div>
    </ion-list>
    <div class="menu-footer">
      <p class="companion-text">A 5.5e compatible companion app</p>
      <p class="purchase-link">
        <a href="https://marketplace.dndbeyond.com/rulebooks" target="_blank" rel="noopener noreferrer">
          Access rulebooks via the digital marketplace
        </a>
      </p>
      <p>
        This project is not affiliated with, endorsed, sponsored, or approved by Wizards of the Coast.
      </p>
      <app-kofi-support-card></app-kofi-support-card>
    </div>
  </ion-content>
</ion-menu>
